$color-white : #fff;
$color-primary-blue : rgb(0, 166, 255);
$color-primary-green : rgb(0, 255, 38);
$color-green : #48b512;
$color-blue : #017791;
$color-black : #000;
$color-grey-dark : #222;
$color-bg-fade : #f4f4f4;


$gaps-horizontal : 4rem;
$gaps-vertical : 6rem;
$gaps-para-para : 4vh;
$gaps-head-para : 8vh;

$input-width-huge : 57.5vw;
$input-width-big : 35.5vw;
$input-width-medium : 25vw;
$input-width-small : 13.5vw;

$select-width-medium : 18vw;
$select-width-big : 35.5vw;
$max-row-width :50vw;

