.footer {
    width: 100%;
    height: 25vh;
    background-color: #111;
    color:$color-bg-fade;
    .row-2 {
        margin: 0 5vw;
        border-bottom: 3px solid $color-bg-fade;
        height: 80%;
    }
    .sub {
            text-decoration: none;
            color: inherit;
            display: block;
    }
    
    .icon-size {
        height: 2.5vh;
        margin: .5vw;
    }
    .part-2 {
        text-align: center;
        margin-top: 2.5vh;
        a {
            text-decoration: none;
        }
    }

}
