.composition {
    height: 80vh;
    position: relative;
    &__photo {
        height: 55%;
        width: 45%;
        z-index: 2;
        transition: all .2s ease-out;
        box-shadow: 0 1.5rem 3.5rem rgba($color-black,0.35);
        position: absolute;
        &--1 {
            left:5;
            top:0;
        }
        &--2 {
            left:45%;
            top:-5%;
        }
        &--3 {
            left:50%;
            top:40%;
            
        }
        &--4 {
            left:5%;
            top:45%;
        }
        &--5 {
            left:20%;
            top:20%;
        }
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 2rem 4rem rgba($color-black,0.50);
            z-index:10;
        }

    }
    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
}