.u-text-center {
    text-align: center;
}
.u-display-block-mar {
    display: block;
    &:not(:last-child) {
        margin-bottom: 2rem;
    }  
}
.u-display-block {
    display: block;
}
.u-display-inline-block {
    display: inline-block;
}
.u-mar-abv {
    margin-top: 10rem;
}
.u-div-height {
    height: 10rem;
}
.u-mar-left-small {
    margin-left: 2rem;
}
.u-form-mar {
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}