.section-about {
    background-color: $color-bg-fade;
    color: $color-grey-dark;
    margin-top:-15vh;
    padding: 25rem 2rem;
}
.section-register {
    height: 175vh;
    padding: 5%;
    background-image: linear-gradient(to right bottom,$color-blue,$color-green);
}
.row-1 {
    height: 100%;
}
.register {
    //background-color: $color-white
    background-image: linear-gradient(rgba($color-bg-fade,0.75),rgba($color-white,0.75)),url(../img/form-cover.jpg);
    background-size: 100%;
    box-shadow: 0 2rem 4rem rgba($color-black,0.45);
    height: 100%;
    color:$color-grey-dark;
    padding: 5%;
    
}